<h1>Philadelphia Stage Combat Workshop <%= @workshop.year %></h1>

<%= render 'workshops/form/form' %>

<%= link_to 'Show', @workshop, class: 'button' %>
<%= link_to 'Back', workshops_path, class: 'button' %>
