.float-left { float: left; }
.float-right { float: right; }
.clear { clear: both; }
.block { display: block; }
.inline-block { display: inline-block; }

.bold { font-weight: bold; }

.one-half { width: 50%; }
.one-half-padded { width: 39%; padding-right: 10%; }
.one-third { width: 33%; }
.two-thirds { width: 66%; }
